<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Challenge Yourself</h1>
    <p class="splash-subhead">
      Accept challenges from other people
    </p>
    <span>or</span>
    <p class="splash-subhead">
      Create challenges for others to accept
    </p>
    <p>
      <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
    </p>
  </div>
</div>
