<div class="nested-fields">
  <div class="pure-control-group">
    <%= f.input_field :name, placeholder: 'Enter the task name' %>
    <%= link_to_remove_association "remove task", f %>
  </div>
</div>
